.container {
  width: 375px;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;

  .navContainer {
    width: 100%;
    height: 59px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.714285rem;
      transition: all 400ms;

      p {
        margin-top: 11px;
      }
    }

    a:hover {
      p {
        color: var(--text-title);
      }

      svg {
        stroke: var(--text-title)
      }
    }
  }

  .navContainer a:nth-child(n + 2):not(:first-child) {
    color: var(--inactive-color);
  }
}