.container {

  .booksContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    margin-top: 42px;

    .booksInfo {
      width: 100px;
      height: auto;
      display: flex;
      flex-direction: column;
      color: #313131;

      img {
        width: 100px;
        height: 153px;
        object-fit: contain;
        clip-path: inset(0.1px 0.1px 0.1px 0.1px round 5px);
      }
    }

    .booksInfo p:nth-child(1) {
      font-family: "SF Pro Text";
      font-weight: 700;
      font-size: 0.8571rem;
      margin-top: 9px;
    }

    .booksInfo p:nth-child(2) {
      font-family: "Roboto";
      font-weight: 900;
      font-size: 0.714285rem;
      margin-top: 5px;
    }
  }
}